<div class="kanit-regular">
    <h1>Characters</h1>

    <div class="character-list">
      @for (character of charactersData; track character.id) {
        <a href="character/{{ character.id }}">
          <mat-card class="card" appearance="outlined">
            <mat-card-header>
              <mat-card-title class="kanit-regular">{{ character.name }}</mat-card-title>
              <mat-card-subtitle class="kanit-thin">{{ character.path }}</mat-card-subtitle>
            </mat-card-header>
            <img class="image" mat-card-image [src]="'splash-arts/' + character.characterImg" alt="{{ character.name }} splash art">
          </mat-card>
        </a>
      }
    </div>
    <!-- <div class="character-list">
      @for (character of charactersData; track character.id) {
        <a [routerLink]="['/character', character.id]">
          <div class="character-item">
            <img [src]="character.characterImg" />
            <p class="kanit-bold">{{ character.name }}</p>
          </div>
        </a>
      }
    </div> -->
</div>