<div class="container kanit-regular">

  <div class="header">
    <h1 @fadeIn>Characters</h1>
    @if (searchKeyword) {
      <p>Search Results for <b>{{ searchKeyword }}</b></p>
    }
  </div>

  <div class="character-list">
    @for (character of charactersData; track character.id) {
      <a href="character/{{ character.id }}" (click)="onCardClick($event, character.id)" @fadeInUp>
        <mat-card class="card" appearance="outlined">
          <mat-card-header>
            <mat-card-title class="kanit-regular">{{ character.name }}</mat-card-title>
            <mat-card-subtitle class="kanit-thin">{{ character.path }}</mat-card-subtitle>
          </mat-card-header>
          <!-- Low resolution placeholder -->
          <img
            class="image placeholder"
            [ngSrc]="imagePaths(character.characterImg).lowRes"
            alt="{{ character.name }} splash art low res"
            fill
          />
          
          <!-- High resolution image -->
          <img
            class="image high-res"
            [ngSrc]="imagePaths(character.characterImg).highRes"
            alt="{{ character.name }} splash art high res"
            fill
            (load)="onHighResLoad(character.id)"
            [class.loaded]="highResLoaded[character.id]"
          />         
        </mat-card>
        @if (selectedId === character.id) {
          <mat-card class="card card-clone" [@expandFadeOut]="'expanded'">
            <mat-card-header>
              <mat-card-title class="kanit-regular">{{ character.name }}</mat-card-title>
              <mat-card-subtitle class="kanit-thin">{{ character.path }}</mat-card-subtitle>
            </mat-card-header>
            <img class="image" mat-card-image [ngSrc]="imagePaths(character.characterImg).highRes" 
                  alt="{{ character.name }} splash art" priority fill>
          </mat-card>
        }
      </a>
    }
  </div>
  @if (loading) {
    <div class="loading-container">
      <mat-spinner diameter="50" strokeWidth="10"></mat-spinner>
    </div>
  }
</div>