<div class="container kanit-regular">

  <div class="header">
    @if (searchKeyword) {
      <button mat-icon-button routerLink="/">
        <mat-icon>arrow_back</mat-icon>
      </button>
    }
    <h1 class="kanit-extralight" @fadeIn>Characters</h1>
    @if (searchKeyword) {
      <p>Search Results for <b>{{ searchKeyword }}</b></p>
    }
  </div>

  <div class="filter-container">
    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <mat-icon>filter_list</mat-icon>
            Filter
          </mat-panel-title>
        </mat-expansion-panel-header>

        <form [formGroup]="filterForm">
          <mat-form-field appearance="outline" class="filter-field">
            <mat-label>Path</mat-label>
            <mat-select (openedChange)="onPathOpened($event)">
              <mat-option>None</mat-option>
              @for (path of pathsData; track path.id) {
                <mat-option [value]="path.id">{{ path.name }}</mat-option>
              }
            </mat-select>            
          </mat-form-field>
        </form>
        
      </mat-expansion-panel>
    </mat-accordion>
  </div>

  <div class="character-list">
    @for (character of charactersData; track character.id) {
      <a href="character/{{ character.id }}" (click)="onCardClick($event, character.id)" @fadeInUp>
        <mat-card class="card" appearance="outlined">
          <mat-card-header>
            <mat-card-title class="kanit-regular">{{ character.name }}</mat-card-title>
            <mat-card-subtitle class="kanit-thin">{{ character.path }}</mat-card-subtitle>
          </mat-card-header>
          
          <img
            class="image high-res"
            [ngSrc]="imagePaths(character.character_img).lowRes"
            alt="{{ character.name }} splash art low res"
            fill
            (load)="onThumbLoaded(character.id)"
            [class.loaded]="thumbLoaded[character.id]"
          />         
        </mat-card>
        
        @if (selectedId === character.id) {
          <mat-card class="card card-clone" [@expandFadeOut]="'expanded'">
            <mat-card-header>
              <mat-card-title class="kanit-regular">{{ character.name }}</mat-card-title>
              <mat-card-subtitle class="kanit-thin">{{ character.path }}</mat-card-subtitle>
            </mat-card-header>
            <img class="image" mat-card-image [ngSrc]="imagePaths(character.character_img).highRes" 
                  alt="{{ character.name }} splash art" priority fill>
          </mat-card>
        }
      </a>
    }
    
    @if (loading) {
      <div class="loading-container">
        <mat-spinner diameter="50" strokeWidth="10"></mat-spinner>
      </div>
    }
  </div>
</div>