<!-- <app-custom-sidenav #drawer>
  
</app-custom-sidenav> -->
<app-custom-toolbar
  (toggleSidenav)="drawer.drawer.toggle()"
  (searchEvent)="onSearch($event)"
></app-custom-toolbar>

<div class="container">
  <app-character-list
    [charactersData]="characters"
    [loading]="isLoading"
    [searchKeyword]="searchKeyword"
    (scrollEnd)="getCharacters(filters)"
    (onFilterChange)="onFilter($event)"
  />
  @if (showScrollTopButton) {
    <div class="fab">
      <button mat-fab aria-label="Back to top button" (click)="scrollToTop()">
        <mat-icon>keyboard_arrow_up</mat-icon>
      </button>
    </div>
  }
</div>
