@use '@angular/material' as mat;
@import "../../styles/theme.scss";

.container {
  background-color: $space-black;
  padding: 20px;
  color: $light-gray;
}

.fab {
  position: fixed;
  bottom: 12px;
  right: 12px;

  ::ng-deep .mat-mdc-fab {
    background-color: $space-gray;
  }
}

